<!-- app/views/movies/index.html.erb -->
<h1>All Movies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <!-- Cabeçalho da coluna 'Título' agora é um link para ordenar -->
      <!-- A classe 'highlight' é adicionada dinamicamente se esta for a coluna de ordenação ativa -->
      <th class="<%= 'bg-warning' if @sort_column == 'title' %>">
        <%= link_to 'Movie Title', movies_path(sort_by: 'title'), id: 'title_header', class: 'text-dark text-decoration-none' %>
      </th>

      <th>Rating</th>

      <!-- Cabeçalho da coluna 'Data de Lançamento' também é um link de ordenação -->
      <th class="<%= 'bg-warning' if @sort_column == 'release_date' %>">
        <%= link_to 'Release Date', movies_path(sort_by: 'release_date'), id: 'release_date_header', class: 'text-dark text-decoration-none' %>
      </th>

      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.strftime("%Y-%m-%d") %></td>
        <td><%= link_to "More about #{movie.title}", movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>

